@keyframes mountains {
    from {
        bottom:-500px;
    }
    30% {
        bottom:-20px;
    }
    40% {
        bottom:0px;
    }
    50% {
        bottom:-15px;
    }
    60% {
        bottom:0px;
    }
    70% {
        bottom:-10px;
    }
    80% {
        bottom:0px;
    }
    85% {
        bottom:-5px;
    }
    to {
        bottom: 0px;
    }
}
@keyframes waveTranslate {
    from {
        bottom:-400px;
    }
    to {
        bottom: -3px;
        transform: translateY(50%);
    }
}
@keyframes waveRolling {
    from {
        transform: skew(0deg);
    }
    50% {
        transform: skew(15deg);
    }
    to {
        transform: skew(0deg);
    }
}
@keyframes clouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}
@keyframes wood {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes sun {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(300px);
    }
}
@keyframes ray {
    from {
       transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rayScale {
    from {
       transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rayRotate {
    from {
       transform: rotate(0);
    }
    to {
        transform: rotate(2deg);
    }
}