.bg {
    &_animatedMountains {
        animation-name: mountains;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        }
    &_animatedWaveBigTranslate {
        animation-name: waveTranslate;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        }
    &_animatedWaveBigRolling {
        animation-name: waveRolling;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        }
    &_animatedWaveSmallTranslate {
        animation-name: waveTranslate;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        }
    &_animatedWaveSmallRolling {
        animation-name: waveRolling;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        }
    &_animatedGround {
        animation-name: mountains;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards
    }
    &_animatedCloud1 {
        animation-name: clouds;
        animation-duration: 200s;
        animation-delay: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        left: -220px;
        top: 160px;
    }
    &_animatedCloud2 {
        animation-name: clouds;
        animation-duration: 200s;
        animation-delay: 100s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        left: -220px;
        top: 100px;
    }
    }