.promo {
    position: relative;
    min-height: 600px;
    padding: 25px 0 275px 0;
    overflow: hidden;
    // background: url(../img/bg.jpg) center (center/cover) no-repeat;
    &__mountains {
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
    &__wave {
        z-index: -2;
        position: absolute;
        bottom: -400px;
        left: -30px;
        width: 40vw;
        transform: scaleY(0.5);
        img {
            width: 100%;
            }  
    }
    &__ground {
        z-index: -2;
        position: absolute;
        bottom: -400px;
        right: 0; 
        width: 40vw;
        height: 150px;
        background-color: #77481C;
    }
    &__cloud {
        z-index: -2;
        position: absolute;
        width: 220px;
    }
    &__descr {
        width: 270px;
        margin-top: 72px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 20px;
        text-align: right;
        text-transform: uppercase;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__logo {
        width: 300px;
        img {
            width: 100%;
        }
    }
    &__phones {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 35px;
            height: 35px;
        }
        margin-top: 35px;
    }
    &__descr {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 10px;
        a {
            color: #000000;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            &:hover{
                text-decoration: none;
                }
        }
    }
}